<nav class="u-background">
  <div class="u-wrapper">
    <ul class="Banner">
      <li class="Banner-item Banner-item--title">
        <h1 class="Banner-heading">
          <a class="Banner-link u-clickable" href="{{ relLangURL nil }}">{{ site.Title }}</a>
        </h1>
      </li>
      {{ $currentPage := . }}


      {{ range site.Menus.main }}
        {{ $url := relLangURL .URL }}
        {{ if isset .Params "format" | and .Page }}
          {{ $url = (.Page.OutputFormats.Get .Params.format).RelPermalink }}
        {{ end }}
        {{ if eq .Name "LANG" }}
          {{ if $currentPage.IsTranslated }}
            {{ range $currentPage.Translations }}
            <li class="Banner-item">
              <a class="Banner-link u-clickable" href="{{ .RelPermalink }}">{{ .Lang }}</a>
            </li>
            {{ end }}
          {{ end }}
        {{ else }}
          <li class="Banner-item">
            {{ if $currentPage.IsMenuCurrent .Menu . }}
            <a class="Banner-link u-clickable active" href="{{ $url }}">{{ .Name }}</a>
            {{ else }}
            <a class="Banner-link u-clickable" href="{{ $url }}">{{ .Name }}</a>
            {{ end }}
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</nav>
